svg image {
     cursor: pointer;
}

.nodes circle {
     fill: blue;
}

.links line {
     stroke: grey;
     stroke-width: 1px;
}

.sud-map-wrapper {
     position: relative;
     background-color: #ffffff;
     background-color: #faf6f9;
     opacity: 1;
     background-image:  linear-gradient(#f7f1f4 2px, transparent 2px), linear-gradient(90deg, #f7f1f4 2px, transparent 2px), linear-gradient(#f7f1f4 1px, transparent 1px), linear-gradient(90deg, #f7f1f4 1px, #faf6f9 1px);
     background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
     background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.sud-filter-container {
     position: absolute;
     padding: 10px 20px;
     background-color: white;
     border-radius: 20px;
     left: 0;
     right: 0;
     margin: 0 auto;
     width: 100%;
     box-shadow: 5px 0px 6px 0px #B1A1CE;
     -webkit-box-shadow: 0px 5px 6px 0px #B1A1CE;
     display: flex;
     justify-content: center;
}

select {
     border: none;
     background-color: rgba(230, 220, 226, 0.06);
     padding: 10px 20px;
     border-radius: 20px;
     border: 2px solid #e9cede;
     color: #942F6D;

     background: url("data:image/svg+xml,<svg height='15px' width='15px' viewBox='0 0 16 16' fill='942F6D' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
     background-position: calc(100% - .75rem) center !important;
     -moz-appearance:none !important;
     -webkit-appearance: none !important; 
     appearance: none !important;
     padding-right: 2.2rem !important;
}
select:focus {
     border: 2px solid #942F6D;
     box-shadow: none;
}

.map-container {
     width: 100vw;
     height: 80vh;
     margin: 0 auto 0 auto;
     background: unset;
   
}

.tooltip {
     box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
     position: fixed;
     background-color: white;
     padding: 10px 25px 30px 25px;
     border: 1px solid #cecece;
     border-radius: 5px;
     width: 500px;
     cursor: zoom-out;
     max-width: 100vw;
}

.tooltip-name {
     font-size: 32px;
     font-weight: bold;
     color: #3a183b;
}

.tooltip-description {
     font-size: 14px;
     font-family: "Georgia", sans-serif;
     padding: 5px 0 15px 0;
}

.tooltip-link {
     background-color: #942F6D;
     display: inline-block;
     padding: 10px 30px;
     border-radius: 3px;
     color: white !important;
     font-size: 23px;
     font-family: "Georgia", sans-serif;
}

.color-main {
     color: #942F6D;
}

.interaction-buttons {
    position: absolute;
    top: 0;
    bottom:0;
    height: 100px;
    margin: auto;
    right: 20px;
}

.interaction-buttons button {
    background-color: #942F6D;
    border: 1px solid #cecece;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    display: block;
    margin-bottom: 10px;
}

.cta-position {
     position: absolute;
     bottom: 20px;
     right: 20px;

}

.cta-button {
     background-color: #942F6D;
     box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
     display: inline-block;
     padding: 10px 30px;
     border-radius: 3px;
     color: white !important;
     font-size: 23px;
     font-family: "Georgia", sans-serif;
}
